[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SCEM"]
	path = SCEM
	url = https://github.com/kserkcho/scem
	shallow = true
	registered = true
